{% extends 'main/base.html' %}

{% block title %}
List
{% endblock %}

{% block content %}
    <h1>{{ls.name}}</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <ul>
            {% for item in ls.item_set.all %}
                {% if item.complete == False %}
                    <li><input type="checkbox" name="c{{item.id}}" value="clicked">{{item.text}}</li>
                {% else %}
                    <li><input type="checkbox" name="c{{item.id}}" value="clicked" checked><strike>{{item.text}}</strike></li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit" name="save" value="save">Save</button>
        <input type="text" name="new">
        <button type="submit" name="newItem" value="newItem">Add Item</button>
    </form>
{% endblock %}
